<div class="tab-pane" id="list-SeguDetalleConcesion" role="tabpanel" aria-labelledby="list-SeguDetalleConcesion-list">
    <div class="topContent">
        <table class="table">
            <tbody>
                <tr>
                    <th>Empresa Contratista Minera</th>
                    <td>
                        Es toda persona jurídica que, por contrato, ejecuta una obra o presta servicio a los titulares de
                        actividades mineras, en las actividades de exploración, desarrollo, explotación y/o beneficio, y que
                        ostenta la calificación como tal emitida por la Dirección General de Minería del Ministerio de Energía
                        y Minas. Debe encontrarse en el <a>Registro de Empresas Contratistas Mineros</a>
                    </td>
                </tr>
                <tr>
                    <th>Empresa Contratista de Actividades Conexas</th>
                    <td>
                        Es toda persona natural o jurídica que realiza actividades auxiliares o complementarias a la actividad
                        minera por encargo del titular de la actividad minera.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Índice</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col">Última Actualización</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.1 Registro/Lista de contratistas mineros y conexos</td>
                    <td><img src="@Url.Content("~")Assets/images/circle.jpg"></td>
                    <td>Falta completar datos</td>
                    <td>08/01/2019</td>
                </tr>
                <tr>
                    <td>1.2 Estadístico de incidentes (anexo 24 del reglamento)</td>
                    <td><img src="@Url.Content("~")Assets/images/circle.jpg"></td>
                    <td>Falta completar datos</td>
                    <td>08/01/2019</td>
                </tr>
                    <td>1.3 Estadístico de incidentes peligrosos (anexo 25 del reglamento)</td>
                    <td><img src="@Url.Content("~")Assets/images/circle.jpg"></td>
                    <td>Falta completar datos</td>
                    <td>08/01/2019</td>
                </tr>
                    <td>1.4 Estadístico de accidentes leves (anexo 26 del reglamento)</td>
                    <td><img src="@Url.Content("~")Assets/images/circle.jpg"></td>
                    <td>Falta completar datos</td>
                    <td>08/01/2019</td>
                </tr>
                    <td>1.5 Estadístico de accidentes incapacitantes (anexo 27 del reglamento)</td>
                    <td><img src="@Url.Content("~")Assets/images/circle.jpg"></td>
                    <td>Falta completar datos</td>
                    <td>08/01/2019</td>
                </tr>
                    <td>1.6 Estadístico de seguridad mensual- resumen (anexo 28 del reglamento)</td>
                    <td><img src="@Url.Content("~")Assets/images/circle.jpg"></td>
                    <td>Falta completar datos</td>
                    <td>08/01/2019</td>
                </tr>
                    <td>1.7 Reporte de enfermedades profesionales / ocupacionales (anexo 29 del reglamento)</td>
                    <td><img src="@Url.Content("~")Assets/images/circle.jpg"></td>
                    <td>Falta completar datos</td>
                    <td>08/01/2019</td>
                </tr>
                    <td>1.8 análisis de accidentes incapacitantes según código de clasificación (anexo 30 del reglamento)</td>
                    <td><img src="@Url.Content("~")Assets/images/circle.jpg"></td>
                    <td>Falta completar datos</td>
                    <td>08/01/2019</td>
                </tr>
                    <td>Días perdidos originados por accidentes incapacitantes de meses anteriores</td>
                    <td><img src="@Url.Content("~")Assets/images/circle.jpg"></td>
                    <td>Falta completar datos</td>
                    <td>08/01/2019</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
