<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Assets/css/bootstrap.min.css")
    @Styles.Render("~/Assets/css/layout.css")
    @RenderSection("mainStyles", required: false)
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <img src="@Url.Content("~/")Assets/images/logoperu.jpg"/>
        </div>
        <span class="navbar-text">
            Declaración Estadística Mensual - ESTAMIN
        </span>
        <span class="navbar-text">
            <p>Minerales Arevalo</p>
            <p>25486134756</p>
            <p><a>Cerrar sesión</a></p>
        </span>
    </div>
    <div class="container-fluid">@RenderBody()</div>
    <footer class="footer">
        <div class="push">
            <button type="button" class="btn" name="button"><i class="fas fa-arrow-left"></i> Regresar a Informes</button>
        </div>
        <button type="button" class="btn" name="button"><i class="fas fa-question-circle"></i>Ayuda</button>
        <p>&copy; @DateTime.Now.Year - Ministerio de Energía y Minas. Todos los derechos reservados.</p>
    </footer>

    @RenderSection("mainScripts", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
